{{template "base" .}}

{{define "title"}}measure{{end}}

{{define "main"}}
<div class="Row">
  <h2 class="mx-auto" style="width: 200px;">Measurements</h2>
</div>
<hr>
<div class="row">
<form action="/updateDigital" method="post">
  <div class="col-sm-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Pin</th>
      {{range $n, $val := .EIO}}
      <th class="text-center" scope="col">{{$n}}</th>
      {{end}}
    </tr>
  </thead>
  <tbody>


    <tr>
      <th scope="row">EIO</th>
      {{range $n, $val := .EIO}}
      <td class="text-center">
        {{$val.AD}}
      </td>
      {{end}}
    </tr>
    <tr>
      <th scope="row"></th>
      {{range $n, $val := .EIO}}
      <td class="text-center">
        {{if eq $val.AD "Digital"}}
        {{$val.IO}}
        {{end}}
      </td>
      {{end}}
    </tr>
    <tr>
      <th scope="row">Read</th>
      {{range $n, $val := .EIO}}
      <td class="text-center">
        {{if eq $val.AD "Digital"}}
          {{if eq $val.IO "Input"}}
            {{$val.DigitalRead}}
          {{end}}
          {{if eq $val.IO "Output"}}
          <select class="form-select" aria-label="EIOD{{$n}}" name="eioD{{$n}}">
            <option value="1" {{if eq $val.DigitalWrite 1}}selected{{end}}>1</option>
            <option value="2" {{if eq $val.DigitalWrite 0}}selected{{end}}>0</option>
          </select>
          {{end}}
          {{end}}
        {{if eq $val.AD "Analog"}}{{$val.AnalogRead}}{{end}}
      </td>
      {{end}}
    </tr>
    <tr>
      <th scope="row">Voltage</th>
      {{range $n, $val := .EIO}}
      <td class="text-center">
        {{if eq $val.AD "Analog"}}{{$val.AnalogVoltage}}{{end}}
      </td>
      {{end}}
    </tr>


    <tr>
      <th scope="row">FIO</th>
      {{range $n, $val := .FIO}}
      <td class="text-center">
        {{$val.AD}}
      </td>
      {{end}}
    </tr>
    <tr>
      <th scope="row"></th>
      {{range $n, $val := .FIO}}
      <td class="text-center">
        {{if eq $val.AD "Digital"}}
        {{$val.IO}}
        {{end}}
      </td>
      {{end}}
    </tr>
    <tr>
      <th scope="row">Read</th>
      {{range $n, $val := .FIO}}
      <td class="text-center">
      {{if eq $val.AD "Digital"}}
        {{if eq $val.IO "Input"}}
          {{$val.DigitalRead}}
        {{end}}
        {{if eq $val.IO "Output"}}
        <select class="form-select" aria-label="FIOD{{$n}}" name="fioD{{$n}}">
          <option value="1" {{if eq $val.DigitalWrite 1}}selected{{end}}>1</option>
          <option value="2" {{if eq $val.DigitalWrite 0}}selected{{end}}>0</option>
        </select>
        {{end}}
        {{end}}
        {{if eq $val.AD "Analog"}}{{$val.AnalogRead}}{{end}}
        {{end}}
        </td>
    </tr>
    <tr>
      <th scope="row">Voltage</th>
      {{range $n, $val := .FIO}}
      <td class="text-center">
        {{if eq $val.AD "Analog"}}{{$val.AnalogVoltage}}{{end}}
      </td>
      {{end}}
    </tr>

    <tr>
      <th scope="row">CIO</th>
      {{range $n, $val := .CIO}}
      <td class="text-center">
        {{$val.AD}}
      </td>
      {{end}}
    </tr>
    <tr>
      <th scope="row"></th>
      {{range $n, $val := .CIO}}
      <td class="text-center">
        {{if eq $val.AD "Digital"}}
        {{$val.IO}}
        {{end}}
      </td>
      {{end}}
    </tr>
    <tr>
      <th scope="row">Read</th>
      {{range $n, $val := .CIO}}
      <td class="text-center">
      {{if eq $val.AD "Digital"}}
        {{if eq $val.IO "Input"}}
          {{$val.DigitalRead}}{{end}}
        {{end}}
        {{if eq $val.IO "Output"}}
        <select class="form-select" aria-label="CIOD{{$n}}" name="cioD{{$n}}">
          <option value="1" {{if eq $val.DigitalWrite 1}}selected{{end}}>1</option>
          <option value="2" {{if eq $val.DigitalWrite 0}}selected{{end}}>0</option>
        </select>
        {{end}}
        {{end}}
        </td>
    </tr>
    <!-- <tr>
      <th scope="row">Voltage</th>
      {{range $n, $val := .CIO}}
      <td class="text-center">
        {{if eq $val.AD "Analog"}}{{$val.AnalogVoltage}}{{end}}
      </td>
      {{end}}
    </tr> -->

  </tbody>
</table>
<button type="submit" class="btn btn-primary">Update Digital</button>
</form>
    </div>

</div>

{{end}}
